html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--sl-font-sans);
  font-size: var(--sl-font-size-medium);
  font-weight: var(--sl-font-weight-normal);
  line-height: var(--sl-line-height-dense);
  letter-spacing: var(--sl-letter-spacing-normal)
}

body.sidebar sl-split-panel {
  height: 100vh;
  width: 100vw;
}

#sidebar {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  padding-block-start: var(--sl-spacing-2x-large);

  .sidebar-item {
    color: var(--sl-color-neutral-700);
    user-select: none;
    border-inline-start: 3px solid transparent;
    padding-left: var(--sl-spacing-2x-large);
    min-height: var(--sl-spacing-2x-large);

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    sl-icon {
      margin-inline-end: var(--sl-spacing-x-small);
    }
  }

  #sync-item {
    margin-block-start: auto;
  }

  .selected {
    background-color: var(--sl-color-neutral-100);
    border-inline-start-color: var(--sl-color-primary-600);
  }
}

#content {
}
