html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--sl-font-sans);
  font-size: var(--sl-font-size-medium);
  font-weight: var(--sl-font-weight-normal);
  line-height: var(--sl-line-height-dense);
  letter-spacing: var(--sl-letter-spacing-normal);
  color: var(--sl-color-neutral-900);
}

body.sidebar sl-split-panel {
  height: 100vh;
  width: 100vw;
}

#sidebar {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  padding-block: var(--sl-spacing-2x-large);
  color: var(--sl-color-neutral-700);

  .sidebar-item {
    user-select: none;
    border-inline-start: 3px solid transparent;
    padding-left: var(--sl-spacing-2x-large);
    min-height: var(--sl-spacing-2x-large);

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    &:hover {
      color: var(--sl-color-primary-600);
    }

    & > div {
    display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
    }

    sl-icon {
      margin-inline-end: var(--sl-spacing-x-small);
    }
  }

  #sync-item {
    margin-block-start: auto;
  }

  .selected {
    background-color: var(--sl-color-neutral-100);
    border-inline-start-color: var(--sl-color-primary-600);
  }
}

#content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: start;
  overflow: auto;
}

.tab-group {
  color: var(--sl-color-neutral-700);
  border-bottom: 2px solid var(--sl-color-neutral-200);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;

  a {
    padding: var(--sl-spacing-medium) var(--sl-spacing-large);

    &:hover {
      color: var(--sl-color-primary-600);
    }
  }

  .selected {
    background-color: var(--sl-color-neutral-100);
    border-bottom: 2px solid var(--sl-color-primary-600);
  }
}

.grid {
  display: grid;
  gap: var(--sl-spacing-x-small);
  padding-inline: var(--sl-spacing-x-small);
  padding-block: var(--sl-spacing-medium);
  grid-template-columns: repeat(auto-fill, minmax(calc(150px + 1rem),1fr));
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#spinner {
  animation: spin 1s infinite linear paused;

  &.spinning {
    animation-play-state: running
  }
}

#sync-log {
  flex: 1;
  overflow-y: auto;

  .log-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--sl-spacing-large);

    .message {
      flex: 1;
    }
  }
}

#progress-bars {
  padding-block: var(--sl-spacing-small);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: start;

  .progress {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
    padding-inline: var(--sl-spacing-large);
    padding-block-start: var(--sl-spacing-small);

    &:first-child {
      border-top: 1px solid var(--sl-color-neutral-200);
    }

    p {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: var(--sl-spacing-small);
      padding-block-end: var(--sl-spacing-small);
    }
  }
}

#video-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  video-player {
    max-height: calc(100% - 40px);
    max-width: calc(100% - 40px);
    margin: auto;

    &.casting {
      height: calc(100% - 40px);
      width: calc(100% - 40px);
    }
  }
}

#synclist-header {
  text-align: end;
}

#server-cards {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  padding: var(--sl-spacing-4x-large);
  gap: var(--sl-spacing-2x-large);

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .profile-selector {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: var(--sl-spacing-small);
    }

    .info {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: var(--sl-spacing-small);
    }
  }

  .profile-selector sl-select {
    width: 8em;
  }

  .sync-table {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr max-content max-content max-content max-content max-content;
    gap: var(--sl-spacing-2x-small) var(--sl-spacing-small);
    align-items: center;

    thead, tbody, tr {
      display: contents;
    }

    th {
      font-weight: bold;
    }

    .title {
      text-align: left;
    }

    .completion {
      text-align: right;
    }

    .duration {
      text-align: right;
    }

    .size {
      text-align: right;
    }

    .buttons {
      text-align: center;
    }
  }

  form {
    padding-top: var(--sl-spacing-2x-large);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--sl-spacing-large);

    sl-input {
      flex: 1;
    }
  }
}
